.feed {
  margin: auto;
  width: 50%;
  margin-top: 50px;
}

.single_post {
  display: grid;
  grid-template-columns: 1fr 7fr;
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 20px;
}

.post_img {
  height: 100%;
  width: 95%;
}
